.cal-row{
	width: 100%;
}

.cal-row-head{
	border-top-left-radius:	4px 2px;
	border-top-right-radius: 3px 4px;
	background-color: #00949D;
	color: #FFFFFF;
}

.cal-row-head [class*="cal-cell"]
{
	font-weight: bolder;
	text-align: center;
	border: 0px solid;
	padding: 5px 0; 
}

.cal-cell{
	display: block;
	width: calc(100% / 8);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin-left: 0%;
}

.cal-month-box{
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	border-radius: 2px;
}

.cal-month-box [class*="cal-cell"]{
	min-height: 20px;
	border-right: 1px solid #e1e1e1;
	position: relative; 
}

.cal-row:after{
	clear: both;
}

.cal-row:before, .cal-row:after{
	display: table;
	content: "";
	line-height: 0;
}

.cal-month-box .cal-row{
	border-bottom: 1px solid #e1e1e1;
	margin-left: 0px;
	margin-right: 0px;
}

.initials{
	margin-top: 15px;
	margin-left: 15px;
	font-weight: bolder;
	text-align: center;
}

.cell-info{
	cursor: pointer;
	padding: 2px;
}

.cal-day{
	width: 20%;
	height: 100%;
	float: left;
	border-left: 1px solid #e1e1e1;
	text-align: center;
}

.cal-day-success{
	background-color: #5cb85c;
	color: #FFFFFF;
}

.cal-day-danger{
	background-color: #d9534f;
	color: #FFFFFF;
}